# https://engineering.vokal.io/Systems/docker.md.html
.ENV-PW
.ENV-PW*

.drone.yml
.git
.gitignore
Dockerfile
README.md
docker-compose.yml

### Vim ###
# Swap
[._]*.s[a-v][a-z]
!*.svg  # comment out if you don't need vector files
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Session
Session.vim
Sessionx.vim

